.loginContainer {
    align-items: center;
    background-color: #F7F6F2;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    margin: 5rem;
    padding: 10px;
    position: absolute;
    width: calc(100% - 200px);
}

.loginTitle {
    background-color: #C8C6C6;
    border-radius: 20px;
    margin-top: 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

@media (max-width: 660px) {
    .loginContainer {
        margin: 1rem;
        margin-top: 5rem;
        width: calc(100% - 70px);
    }
}